.radius {
  border-radius: 50px;
}

/* styles.css or your relevant CSS file */
.animate-slide-up {
  transform: translateY(20px);
  opacity: 0;
  animation: slideUp 0.5s forwards; /* Adjust duration as needed */
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
